.collapsible {
  &:hover {
    cursor: pointer;
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
  }

  &__opened {
    .collapsible__content {
      max-height: fit-content;
      overflow: hidden;
      transition: max-height .5s ease;
    }
  }
}