.navbar {
  padding-left: 0;
  min-width: 250px;

  &-link {
    font-size: 18px;
    }

  &-item {
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;

    &:nth-child(4) {
      border-top: 1px solid rgba(5, 5, 5, 0.06);
    }

    &__link {
      color: #363636;
    }
  }
}

.active {
  color: #1677ff;
  font-weight: bold;
}