* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 320px;
  color: #363636;
  background: rgba(169, 220, 243, 0.64);
  height: 100vh;
}