* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
}
.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 15px 5px;
  max-width: 1230px;
  color: #363636;
  //background: rgba(146, 223, 246, 0.64);
  background: rgba(3,3,3,0.08);
  &__page {
    width: 100%;
  }
}
.inner {
  display: flex;
  min-height: calc(100vh - 170px);
}
.inner:nth-child(2) {

}

